<script>
  var max_search_keys = {% if max_search_keys %}{{ max_search_keys }}{% else %}5{% endif %}

</script>
<button type="button" id='btn_showvista' class="show" data-showtext="Show the Sort Filter Form" data-hidetext="Hide the Sort Filter Form">Show Sort/Filter form</button>
<div id='div_vista'>
  <form id="frm_vista" method="POST">
    <div class="vista">
      {% csrf_token %}
      <div class="rowlabel">
        Sort By
      </div>
      <div class="controlset">
        <select name="order_by">
          {% for field in order_by_fields_available %}
            <option value="{{ field.name }}"{% if order_by.0 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
          {% endfor %}
        </select>
        <select name="order_by">
          {% for field in order_by_fields_available %}
            <option value="{{ field.name }}"{% if order_by.1 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
          {% endfor %}
        </select>
        <select name="order_by">
          {% for field in order_by_fields_available %}
            <option value="{{ field.name }}"{% if order_by.2 == field.name %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="rowlabel">
        Quick Search
      </div>
      <div class="controlset">
        <input id="ctl_combined_text_search" name="combined_text_search" value="{{ combined_text_search }}">
      </div>
    </div>
    {% for filterset in filter %}

      <div id="div_fieldsearch__{{ forloop.counter0 }}" class="vista fieldsearch">
        <div class="rowlabel">
          Field Search
        </div>
        <div class="controlset filterselectfield">
          <select id="ctl_filter__field__{{ forloop.counter0 }}" name="filter__fieldname__{{ forloop.counter0 }}" autocomplete="off">
            <option value="">---</option>
            {% for field in filter_fields_available %}
              <option value='{{ field.name }}'{% if filterset.fieldname == field.name %} selected="SELECTED"{% endif %}>{{ field.label }}</option>
            {% endfor %}
          </select>
        </div>
        {% for field in filter_fields_available %}
          <div id="div_filter__op__{{ field.name }}__{{ forloop.parentloop.counter0 }}" class="controlset filter__value" style="display:none">
            <select id="ctl_filter__op__{{ field.name }}__{{ forloop.parentloop.counter0 }}">
              {% for option in field.operators %}
                <option value="{{ option.0 }}"{% if option.0|stringformat:"s" == filterset.op %} selected="SELECTED"{% endif %}>{{ option.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <script>console.log("field.queryset={{ field.queryset }}");</script>
          {% if field.queryset %}
            <div id="div_filter__{{ field.name }}__{{ forloop.parentloop.counter0 }}" class="controlset filter__value" style="display:none">
              {% comment %} <input type="hidden" id="ctl_filter__op__{{ field.name }}__{{ forloop.parentloop.counter0 }}" value="in"> {% endcomment %}
              <select multiple="MULTIPLE" id="ctl_filter__value__{{ field.name }}__{{ forloop.parentloop.counter0 }}"{% for attrname,attval in field.options.attrs.items %} {{ attrname }}="{{ attrval }}"{% endfor %}>
                <option value="" >-----</option>
                {% for option in field.queryset %}
                  <option value="{{ option.pk }}"{% if option.pk|stringformat:"s" in filterset.value %} selected="SELECTED"{% endif %}>{{ option }}</option>
                {% endfor %}
              </select>
            </div>
            <script>console.log("field.choices={{ field.choices }}");</script>
            {% elif field.choices %}
            <div id="div_filter__{{ field.name }}__{{ forloop.parentloop.counter0 }}" class="controlset filter__value" style="display:none">
              {% comment %} <input type="hidden" id="ctl_filter__op__{{ field.name }}__{{ forloop.parentloop.counter0 }}" value="in"> {% endcomment %}
              <select multiple="MULTIPLE" id="ctl_filter__value__{{ field.name }}__{{ forloop.parentloop.counter0 }}"{% for attrname, attrval in field.options.attrs.items %} {{ attrname }}="{{ attrval }}"{% endfor %}>
                <option value="" >-----</option>
                {% for option in field.choices %}
                  <option value="{{ option.0 }}"{% if option.0|stringformat:"s" in filterset.value %} selected="SELECTED"{% endif %}>{{ option.1 }}</option>
                {% endfor %}
              </select>
            </div>
          {% elif field.options.type == 'boolean' %}
            {% elif field.options.type == 'boolean' %}
            <div id="div_filter__{{ field.name }}__{{ forloop.parentloop.counter0 }}" class="controlset filter__value" style="display:none">
              <input type="hidden" id="ctl_filter__op__{{ field.name }}__{{ forloop.parentloop.counter0 }}" value="exact">
              <input type="checkbox" id="ctl_filter__value__{{ field.name }}__{{ forloop.parentloop.counter0 }}" {% if filterset.value %} checked="CHECKED"{% endif %}>
            </div>
          {% else %}
            <div id="div_filter__{{ field.name }}__{{ forloop.parentloop.counter0 }}" class="controlset filter__value" style="display:none">
              <input type="hidden" id="ctl_filter__op__{{ field.name }}__{{ forloop.parentloop.counter0 }}" value="contains">
              <input id="ctl_filter__value__{{ field.name }}__{{ forloop.parentloop.counter0 }}" value="{{ filterset.value }}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}

    <div class="vista">
      <div class="rowlabel">
        Paginate By
      </div>
      <div class="controlset value">
        <input name="paginate_by" value="{{ paginate_by }}">
      </div>

      <div class="rowlabel">
        Show Fields
      </div>
      <div class="controlset value">
        <select multiple="multiple" name="show_columns">
          {% for field in columns_available %}
            <option value="{{ field.name }}"{% if field.name in show_columns %} selected="SELECTED" {% endif %}>{{ field.label }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="vista">
      <div class="rowlabel">
        Save Search
      </div>
      <div class="controlset">
        <input name="vista_name" value="">
      </div>
      <div class="controlset">
        <input type="checkbox" name="make_default" value="">
      </div>
      <div class="rowlabel">
        &nbsp;
      </div>
      <div class="controlset">
        <button type="submit" name="vista_query_submitted" value='True'>Search</button>
      </div>
      <div class="help_text">
        &nbsp;
      </div>
    </div>
  </form>
  <script>
    const regex = /(\?|\&)page=\d*/i;
    document.getElementById('frm_vista').action = document.getElementById('frm_vista').action.replace(regex,'$1')
  </script>

    <script>

    function showFilterField(select) {
      let ctlNum = select.id.substring(19)
      let val_control
      for(opt of select.options) {
        if(opt.value){
          document.getElementById('div_filter__' + opt.value + '__' + ctlNum ).style.display="none"
          document.getElementById('ctl_filter__op__' + opt.value + '__' + ctlNum ).removeAttribute('name')
          val_control = document.getElementById('ctl_filter__value__' + opt.value + '__' + ctlNum )
          val_control.removeAttribute('name')
          if( val_control.dataset.siblings ) {
            for(i=0; i < (val_control.dataset.siblings); i++) {
              document.getElementById('ctl_filter__value__' + opt.value + '__' + ctlNum + '__' + i ).removeAttribute('name')
            }
          }
        }
      }
      if(select.value) {
        select.classList.remove('grayedout')
        select.name="filter__fieldname__" + ctlNum
        document.getElementById('div_filter__' + select.value  + '__' + ctlNum ).style.display="block"
        document.getElementById('ctl_filter__op__' + select.value + '__' + ctlNum ).name="filter__op__" + ctlNum
        val_control = document.getElementById('ctl_filter__value__' + select.value + '__' + ctlNum )
        val_control.name="filter__value__" + ctlNum
        if( val_control.dataset.siblings ) {
          for(i=0; i < (val_control.dataset.siblings); i++) {
            document.getElementById('ctl_filter__value__' + select.value + '__' + ctlNum + '__' + i ).name="filter__value__" + ctlNum
          }
        }
      } else {
        select.removeAttribute("name")
      }
    }
    for( ctlNum = 0; ctlNum < max_search_keys; ctlNum++ ) {
      document.getElementById('ctl_filter__field__' + ctlNum).addEventListener('change', function(e) {
        showFilterField(e.target)
      })
      showFilterField(document.getElementById('ctl_filter__field__' + ctlNum))
      if( ctlNum < max_search_keys - 1) {
          let localCtlNum = ctlNum
        document.getElementById('div_fieldsearch__' + ctlNum).addEventListener('click', function() {
          document.getElementById('div_fieldsearch__' + ( localCtlNum + 1 )).style.removeProperty('display')
        })
      }
    }
  </script>
  <script>
    init_multiselect_container(document.getElementById('frm_vista'))
  </script>

  <h3>Default View</h3>
  <form method="POST">
    <div class="vista">
      {% csrf_token %}
      <div class="rowlabel">
        Get Default
      </div>
      <div class="controlset">
        <button type="submit" name="default_vista" value='True'>Default</button>
      </div>
    </div>
  </form>


  <h3>Saved View</h3>
  <form method="POST">
    <div class="vista">
      {% csrf_token %}
      <div class="rowlabel">
        Get Saved View
      </div>
      <div class="controlset">
        <select name="vista_name">
          <option value=''>-----</option>
          {% for vista in vistas%}
            <option value="{{ vista.name }}">{{ vista.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="rowlabel">
        Action
      </div>
      <div class="controlset">
        <button type="submit" name="retrieve_vista" value="retrieve_vista">Get</button>
        <button type="submit" name="delete_vista" value="delete">Delete</button>
      </div>
    </div>
  </form>

</div>
